<?xml version='1.1' encoding='utf-8'?>
<widget id="weresoft.multiplayerracing" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Multiplayer Racing</name>
    <description>
        Multiplayer Racing Game
    </description>
    <author email="pablo.weremczuk@gmail.com" href="http://weremsoft.com.ar">
        WeremSoft Software
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="landscape" />	
</widget>
